<a href="https://colab.research.google.com/github/TSUParticleModelingGroup/Calculus-II/blob/master/SiriesSN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import math
import numpy as np

# note: This is how you do 4! in python math.factorial(4)
# note: This is how you do 4 raised to the third power in python 4**3

# The number terms to sum
N = 10000

# Where to start
n = 1

sum = 0
while n <= N:
    sum = sum + 1.0/(n*n)
    n = n + 1

print('Final results Sum =', sum, ',  N was', N)

Final results Sum = 1.6448340718480652 ,  N was 10000